

<div class="container">
    <div class="card">
        <div class="title">
            <h3>ورود</h3>
        </div>
        <div class="username">
            <!-- <label for="username">نام کاربری</label> -->
            <div class="input-group title-username">
                <i class="fas fa-user"></i>
                <input type="text" name="username" id="" placeholder="نام کاربری">
            </div>
        </div>
        <div class="password">
            <!-- <label for="password">رمز عبور</label> -->
            <div class="input-group title-password">
                <i class="fas fa-key"></i>
                <input type="password" name="password" id="" placeholder="رمز عبور">
            </div>
        </div>
        <div class="btns">
            <button type="submit">ثبت</button>
            <button>انصراف</button>
        </div>
    </div>
</div>
