<div class="container">
    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#5b495a" fill-opacity="1" d="M0,288L80,277.3C160,267,320,245,480,202.7C640,160,800,96,960,101.3C1120,107,1280,181,1360,218.7L1440,256L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg> -->
    <div class="hero">
        <div class="circle">
        </div>
        <div class="outer-circle"></div>
    </div>
    <div class="login-card">
        <div class="login-form">
            <div class="title">
                <h2>خوش آمدید</h2>
                <sub>خوش آمدید. لطفا موارد زیر را تکمیل کنید.</sub>
            </div>
            <p>
                <mat-form-field appearance="fill" class="email-input">
                    <mat-label class="email-label">نام کاربری</mat-label>
                    <input matInput class="username-input" placeholder="نام کاربری خود را وارد کنید">    
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill" class="password-input">
                    <mat-label class="password-label">رمز عبور</mat-label>
                    <input matInput class="password-input" placeholder="رمز عبور خود را وارد کنید">    
                </mat-form-field>
            </p>
            <div class="cokie">
                <mat-checkbox class="example-margin">مرا بخاطر بسپار</mat-checkbox>
                <span>رمز خود را فراموش کرده ام</span>
            </div>
            <div class="signin">
                <button mat-raised-button color="primary">ورود</button>
            </div>

            <footer>
                <p>حساب کاربری ندارید؟ <span>ساخت حساب کاربری</span></p>
            </footer>
        </div>
        
    </div>

</div>
