
.container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card
{
    width: 100%;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.info, .address, .skills > section
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
    // background-color: bisque;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid black;
}
.form-field
{
    display: flex;
    flex-direction: column;
    flex: 1 0 21%;
}
.form-field > label {
    margin-bottom: .5rem;
}

.form-input
{
    padding: .5rem .75rem;
    
}

.form-input:focus 
{
    outline: none;
}

::ng-deep .datepicker-outer-container
{
    position: absolute;
}

textarea {
    width: 100%;
    resize: none;
}

.address > *
{
    flex: 1 0 40%;
}

.skills > section
{
    align-content: baseline;
    gap: .5rem;
}
.btns > *
{
    margin: .5rem;
}

th, td {
    text-align: inherit;
}

.table
{
    width: 100%;
    margin-top: 1rem !important;
    overflow-x: auto !important;
}

th {
    background-color: black !important;
    color: white;
}

tr:hover
{
    background-color: rgb(198, 190, 190) !important;
}

.action-btns > button
{
    margin: .5rem;
}

.toolbar
{
    background-color: rgba(34,193,195,1);
    font-weight: 900;
    font-size: 1.2rem;
    position: sticky !important;
    top: 0;
    z-index: 2;
}

@media screen and (min-width: 1000px) {
    .container
    {
        margin: 5rem;
    }
}

@media screen and (max-width: 500px) {
    .form-field
    {
        flex: 1 0 100%;
    }
    .address > *
    {
        flex: 1 0 100%;
    }
    .card {
        width: 100%;
        background: rgb(34,193,195);
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    }
    form {
        width: 100vw
    }

    .btns {
        display: flex;
        justify-content: space-between;
    }
}